.w3-round{
    border-radius: 50%;
}
.w3-jumbo{
    font-size: 36px!important;
    position: absolute;
    right: 0;
    top: 0;
}
nav .w3-container{
    text-align: center;
}
.animate-close{
    position:relative;
    animation:animatex 0.4s;
    display:none;
}
.header-icons{
    font-size: 2em;
    padding: 10px;
}
nav .w3-panel.w3-large{
    text-align:center;
}
nav .w3-panel.w3-large:hover{
    cursor:pointer;
}
@keyframes animatex{
    from{
          left:0px;
          opacity:1;
        } 
    to{
        left:-300px;
        opacity:0;
    }
}