.home{
    background:rgba(255, 0,0,0.7);
    overflow:hidden;
    margin-left: -16px;
    padding-left: 16px;
    margin-right: -16px;
    padding-right: 16px;
    height:100vh;
}

.home h1, .home p{
    position: absolute;
    top: 50%;
    bottom: 50%;
}